In [1]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [2]:
# read xlsx file 
data = pd.read_excel("articles.xlsx")

In [3]:
# Summary of the data
data.describe()

,article_id,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,engagement_comment_plugin_count
count,10437.000000,10435.000000,10319.000000,10319.000000,10319.000000,10319.000000
mean,5218.000000,0.122089,381.395290,124.032949,196.236263,0.011629
std,3013.046714,0.327404,4433.344792,965.351188,1020.680229,0.268276
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2609.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,5218.000000,0.000000,1.000000,0.000000,8.000000,0.000000
75%,7827.000000,0.000000,43.000000,12.000000,47.500000,0.000000
max,10436.000000,1.000000,354132.000000,48490.000000,39422.000000,15.000000

In [4]:
# Summary of the columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10437 entries, 0 to 10436
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   article_id                       10437 non-null  int64
 1   source_id                        10437 non-null  object
 2   source_name                      10437 non-null  object
 3   author                           9417 non-null   object
 4   title                            10435 non-null  object
 5   description                      10413 non-null  object
 6   url                              10436 non-null  object
 7   url_to_image                     9781 non-null   object
 8   published_at                     10436 non-null  object
 9   content                          9145 non-null   object
 10  top_article                      10435 non-null  float64
 11  engagement_reaction_count        10319 non-null  float64
 12  engagement_comment_count         10319 non-null  float64
 13  engagement_share_count           10319 non-null  float64
 14  engagement_comment_plugin_count  10319 non-null  float64
dtypes: float64(5), int64(1), object(9)
memory usage: 1.2+ MB

In [5]:
# Counting the number of articles per source
data.groupby(['source_name'])['article_id'].count()

source_name
460.0                         1
ABC News                   1139
Al Jazeera English          499
BBC News                   1242
Business Insider           1048
CBS News                    952
CNN                        1132
ESPN                         82
Newsweek                    539
Reuters                    1252
The Irish Times            1232
The New York Times          986
The Wall Street Journal     333
Name: article_id, dtype: int64

In [6]:
# Calculating the sum of engagements per source
data.groupby(['source_name'])['engagement_reaction_count'].sum()

source_name
460.0                            0.0
ABC News                    343779.0
Al Jazeera English          140410.0
BBC News                    545396.0
Business Insider            216545.0
CBS News                    459741.0
CNN                        1218206.0
ESPN                             0.0
Newsweek                     93167.0
Reuters                      16963.0
The Irish Times              26838.0
The New York Times          790449.0
The Wall Street Journal      84124.0
Name: engagement_reaction_count, dtype: float64

In [7]:
# Drop unneeded column
data = data.drop('engagement_comment_plugin_count', axis=1)

Utilizing FUNCTIONS in Python

In [8]:
# Create a keyword flag
def keywordflag(keyword):
    length = len(data)
    keyword_flag = []
    for n in range(0, length):
        heading = data['title'][n]
        try:
            if keyword in heading:
                flag = 1
            else:
                flag = 0
        except:
            flag = 0
        keyword_flag.append(flag)
    return keyword_flag

keywordflag = keywordflag('murder')

In [9]:
data['keywordflag'] = pd.Series(keywordflag)

In [14]:
# SentimentIntensityAnalyzer
sent_int = SentimentIntensityAnalyzer()

text = data['title'][15]
sent = sent_int.polarity_scores(text)

neg = sent['neg']
neu = sent['neu']
pos = sent['pos']

In [21]:
# using a for loop to extract sentiment per title

title_neg_sent = []
title_neu_sent = []
title_pos_sent = []

for n in range(0, len(data)):
    try:
        text = data['title'][n]
        sent_int = SentimentIntensityAnalyzer()
        sent = sent_int.polarity_scores(text)
        title_neg_sent.append(sent['neg'])
        title_neu_sent.append(sent['neu'])
        title_pos_sent.append(sent['pos'])
    except:
        title_neg_sent.append(0)
        title_neu_sent.append(0)
        title_pos_sent.append(0)

In [22]:
title_neg_sent = pd.Series(title_neg_sent)
title_neu_sent = pd.Series(title_neu_sent)
title_pos_sent = pd.Series(title_pos_sent)

In [26]:
data['title_neg_sentiment'] = title_neg_sent
data['title_neu_sentiment'] = title_neu_sent
data['title_pos_sentiment'] = title_pos_sent

In [27]:
data.to_excel('blogme_cleaned.xlsx', sheet_name='blogmedata', index=False)