Importing pandas and reading the data file

In [84]:
import pandas as pd
import datetime

data = pd.read_csv('transaction.csv', sep=';')

Summary of the data

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047588 entries, 0 to 1047587
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Year                    1047588 non-null  int64
 3   Month                   1047588 non-null  object
 4   Day                     1047588 non-null  int64
 5   Time                    1047588 non-null  object
 6   ItemCode                1047588 non-null  int64
 7   ItemDescription         1044797 non-null  object
 8   NumberOfItemsPurchased  1047588 non-null  int64
 9   CostPerItem             1047588 non-null  float64
 10  SellingPricePerItem     1047588 non-null  float64
 11  Country                 1047588 non-null  object
 12  ClientKeywords          1047588 non-null  object
dtypes: float64(2), int64(6), object(5)
memory usage: 103.9+ MB

Working with calculations

Defining variables

In [86]:
CostPerItem = 11.73
SellingPricePerItem = 21.11
NumberOfItemsPurchased = 6

Mathmatical Operations on Tableau

In [87]:
ProfitPerItem = SellingPricePerItem - CostPerItem
ProfitPerTransaction = NumberOfItemsPurchased * ProfitPerItem
CostPerTransaction = NumberOfItemsPurchased * CostPerItem
SellingPricePerTransaction = NumberOfItemsPurchased * SellingPricePerItem

CostPerTransaction Column Calculation

CostPerTransaction = CostPerItem * NumberOfItemsPurchases
> variable = dataframe['column_name']

In [88]:
CostPerItem = data['CostPerItem']
NumberOfItemsPurchased = data['NumberOfItemsPurchased']

CostPerTransaction = CostPerItem * NumberOfItemsPurchased

Adding a new column to a dataframe

In [89]:
data['CostPerTransaction'] = CostPerTransaction
data['SalesPerTransaction'] = data['SellingPricePerItem'] * data['NumberOfItemsPurchased']
data['ProfitPerTransaction'] = data['SalesPerTransaction'] - data['CostPerTransaction']
markup = data['ProfitPerTransaction'] / data['CostPerTransaction'] * 100

Rounding decemal points

In [90]:
data['Markup'] = round(markup, 1)

Concatenating columns

In [91]:
full_date = data['Month']+'-'+data['Day'].astype(str)+'-'+data['Year'].astype(str)
data['FullDate']= pd.to_datetime(full_date)

Using iloc to view specific columns/rows

In [92]:
# views one row with index = 0
data.iloc[0]
# views rows 0 to 3
data.iloc[0:3]
# last five rows
data.iloc[-5:]

,UserId,TransactionId,Year,Month,Day,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,ClientKeywords,CostPerTransaction,SalesPerTransaction,ProfitPerTransaction,Markup,FullDate
1047583,343560,6386952,2019,Feb,16,08:16:00,450030,SET/3 RED GINGHAM ROSE STORAGE BOX,3,5.18,8.29,United Kingdom,"['Middle Age', 'Corporation', 'New Client']",15.54,24.87,9.33,60.0,2019-02-16
1047584,276528,6316717,2019,Jan,15,08:56:00,1732143,WOOD 2 DRAWER CABINET WHITE FINISH,6,9.60,10.56,United Kingdom,"['Middle Age', 'Small Business', 'Loyal Client']",57.60,63.36,5.76,10.0,2019-01-15
1047585,341082,6140585,2018,Sep,8,10:41:00,487326,LUNCH BAG APPLE DESIGN,15,2.28,2.51,United Kingdom,"['Young Adult', 'Corporation', 'New Client']",34.20,37.65,3.45,10.1,2018-09-08
1047586,336147,6075190,2018,Jul,20,09:32:00,460509,JUMBO BAG PINK VINTAGE PAISLEY,3,2.88,5.18,United Kingdom,"['Senior', 'Solo Entrepreneur', 'Loyal Client']",8.64,15.54,6.90,79.9,2018-07-20
1047587,-1,6180020,2018,Oct,10,12:00:00,473739,SEASIDE FLYING DISC,6,3.40,6.12,United Kingdom,"['Middle Age', 'Solo Entrepreneur', '2-5 Year ...",20.40,36.72,16.32,80.0,2018-10-10

In [93]:
data.head()

,UserId,TransactionId,Year,Month,Day,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,ClientKeywords,CostPerTransaction,SalesPerTransaction,ProfitPerTransaction,Markup,FullDate
0,278166,6355745,2019,Feb,2,12:50:00,465549,FAMILY ALBUM WHITE PICTURE FRAME,6,11.73,21.11,United Kingdom,"['Senior', 'Solo Entrepreneur', '2-5 Year Clie...",70.38,126.66,56.28,80.0,2019-02-02
1,337701,6283376,2018,Dec,26,09:06:00,482370,LONDON BUS COFFEE MUG,3,3.52,3.87,United Kingdom,"['Middle Age', 'Corporation', '2-5 Year Client']",10.56,11.61,1.05,9.9,2018-12-26
2,267099,6385599,2019,Feb,15,09:45:00,490728,SET 12 COLOUR PENCILS DOLLY GIRL,72,0.90,1.62,France,"['Middle Age', 'Corporation', '2-5 Year Client']",64.80,116.64,51.84,80.0,2019-02-15
3,380478,6044973,2018,Jun,22,07:14:00,459186,UNION JACK FLAG LUGGAGE TAG,3,1.73,1.90,United Kingdom,"['Middle Age', 'Small Business', 'New Client']",5.19,5.70,0.51,9.8,2018-06-22
4,-1,6143225,2018,Sep,10,11:58:00,1733592,WASHROOM METAL SIGN,3,3.40,5.78,United Kingdom,"['Middle Age', 'Solo Entrepreneur', '2-5 Year ...",10.20,17.34,7.14,70.0,2018-09-10

show specific rows and columns

In [94]:
# all rows under 3rd column
data.iloc[:,2]

0          2019
1          2018
2          2019
3          2018
4          2018
           ...
1047583    2019
1047584    2019
1047585    2018
1047586    2018
1047587    2018
Name: Year, Length: 1047588, dtype: int64

In [95]:
# 5th row, 3nd column
data.iloc[4,3]

'Sep'

Split data under one column into multiple columns 
> new_var = column.str.split('sep', expand = True)

In [96]:
# Remove unwanted characters before splitting using replace function

data['ClientKeywords'] = data['ClientKeywords'].str.replace('[', '')
data['ClientKeywords'] = data['ClientKeywords'].str.replace(']', '')
data['ClientKeywords'] = data['ClientKeywords'].str.replace("'", '')

/var/folders/dr/5s31y68s34q25nqlpj7rlspc0000gn/T/ipykernel_50895/2168194571.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['ClientKeywords'] = data['ClientKeywords'].str.replace('[', '')
/var/folders/dr/5s31y68s34q25nqlpj7rlspc0000gn/T/ipykernel_50895/2168194571.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['ClientKeywords'] = data['ClientKeywords'].str.replace(']', '')

In [97]:
split_col = data['ClientKeywords'].str.split(', ', expand=True)

In [98]:
# Creating new columns using the split columns

data['ClientAge'] = split_col[0]
data['ClientType'] = split_col[1]
data['LengthofContract'] = split_col[2]

Using the lower function to change item to lowercase

In [99]:
data['ItemDescription'] = data['ItemDescription'].str.lower()

How to merge dataframes

In [100]:
# Import a new dataset
seasons_df = pd.read_csv('value_inc_seasons.csv', sep=';')

In [101]:
# merging
# merged_df = pd.merge(df_one, df_two, on = 'key')

df = pd.merge(data, seasons_df, on = 'Month')

Dropping columns

In [102]:
# df = df.drop('columnname', axis = 1) -> 1 meaning column

df = df.drop('ClientKeywords', axis = 1)

In [103]:
df = df.drop('Day', axis = 1)

In [104]:
# drop multiple columns
df = df.drop(['Year', 'Month'], axis=1)

Export dataframe to csv

In [105]:
df.to_csv('valueInc_Cleaned.csv', index=False)